button {
    -webkit-animation: glowing 1300ms infinite;
    -moz-animation: glowing 1300ms infinite;
    -o-animation: glowing 1300ms infinite;
    animation: glowing 1300ms infinite;
  }
  @-webkit-keyframes glowing {
  }
  @keyframes glowing {
    0% {
      background-color: red;
      box-shadow: 0 0 3px white;
    }
    50% {
      background-color: red;
      box-shadow: 0 0 15px red;
    }
    100% {
      background-color: red;
      box-shadow: 0 0 3px white;
    }
  }

@media (max-width: 418px) {
  #basic-addon1 {
    display: none;
  }
  .searchBar {
    width: 100%;
    text-align: center;
  }
  .charSearch {
    margin: auto;
    margin-top: 35%;
    width: 60%;
    text-align: center;
    margin-bottom: 15%;
  }
  .charName {
    font-size: 90px;
    font-family: 'Covered By Your Grace', cursive;
    padding-top: 2%;
    letter-spacing: 45px;
  }
  .charDetails {
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 4%;
  }
  .reset{
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 2%;
  }
  .imgDetail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    width: 50%;
    border-radius: 50%;
  }
}
@media (min-width: 420px) {
  .marvelPng {
    height: 20px;
  }
  .searchBar {
    width: 100%;
    text-align: center;
  }
  .reset{
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 3%;
  }
  .charSearch {
    margin: auto;
    margin-top: 3%;
    width: 60%;
    text-align: center;
    margin-bottom: 6%;
  }
  .charName {
    font-size: 90px;
    font-family: 'Covered By Your Grace', cursive;
    letter-spacing: 30px;
    text-align: center; 
   }
  .charDetails {
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    width: 90%;
    margin: auto;
    padding-bottom: 4%;
  }
  .detailName{
    font-family: 'Cinzel', serif;
    text-align: center; 
    font-size: 28px;
    letter-spacing: 5px;
  }
  .detailBio{
    font-size: 16px;
    margin-bottom: 5%;
    font-family: 'Noto Sans', sans-serif;
  }
  .imgDetail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    width: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
  }
  .imgDetail:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .marvel {
    margin-bottom: 100%;
  }
}
