button {
    -webkit-animation: glowing 1300ms infinite;
    -moz-animation: glowing 1300ms infinite;
    -o-animation: glowing 1300ms infinite;
    animation: glowing 1300ms infinite;
  }
  @-webkit-keyframes glowing {
  }
  @keyframes glowing {
    0% {
      background-color: red;
      box-shadow: 0 0 3px white;
    }
    50% {
      background-color: red;
      box-shadow: 0 0 15px red;
    }
    100% {
      background-color: red;
      box-shadow: 0 0 3px white;
    }
  }

@media (max-width: 418px) {
  #basic-addon1 {
    display: none;
  }
  .searchBar {
    width: 100%;
    text-align: center;
  }
  .charSearch {
    margin: auto;
    margin-top: 35%;
    width: 58%;
    text-align: center;
    margin-bottom: 15%;
  }
  .detailName{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: left;
    padding-left: 2%;
  }
  .detailNameProfile{
    text-align: center;
  }
  .charDetailsName{
    font-size: 25px !important;
    color: red;
    font-family: 'Permanent Marker', cursive !important;
  }
  .infoSection{
    background-color: #D9CBCC;
    height: 325px;
    margin-top: 5%;
    border: 1px solid black;
    box-shadow: -5px -5px 30px 5px black, 5px 5px 30px 5px #DEE3E3;
    border-radius: 15px;
    margin-bottom: 9%;
  }
  .charDetails {
    font-size: 13px;
    letter-spacing: normal !important;
    padding-right: 1px;
    font-family: 'Handlee', cursive;

  }
  .charDetails2{
    padding-top: 12%;
  }
  .reset{
    display: inline-block;
    font-family: 'Permanent Marker', cursive;
    margin-top: 5%;
  }
  .imgDetail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
    margin-top: 2%;
    width: 200px;
    height: 200px;
    border-radius: 15%;
    box-shadow: 5px 5px 20px black;
  }
  .detailNameProfile{
    text-align: center;
    font-size: 35px;
    padding-bottom: 3%;
    color: black;
  }
}
@media (min-width: 420px) {
  .marvelPng {
    height: 20px;
  }
  .searchBar {
    width: 100%;
    text-align: center;
  }
  .reset{
    font-family: 'Permanent Marker', cursive;
    margin-top: 5%;
  }
  .charSearch {
    margin: auto;
    margin-top: 3%;
    width: 45%;
    text-align: center;
    margin-bottom: 6%;
  }
  .charName {
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 30px;
    text-align: center; 
   }
  .charDetails {
    font-size: 18px;
    letter-spacing: normal !important;
    font-family: 'Handlee', cursive;
    width: 100%;
    padding: 3%;
    font-weight: normal !important;
    color: black;
  }
  .charDetailsName{
    font-size: 35px !important;
    color: red;
    font-family: 'Permanent Marker', cursive;
  }
  .detailName{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 100;
    text-align: left;
    padding: 2px;
  }
  .detailNameProfile{
    text-align: center;
    font-size: 28px;
    padding-bottom: 3%;
    color: black;
  }
  .charDetails2{
    padding-top: 10%;
    text-align: center;
  }
  .detailBio{
    font-size: 16px;
    margin-bottom: 5%;
    font-family: 'Noto Sans', sans-serif;
  }
  .infoSection{
    background-color: #D9CBCC;
    height: 300px;
    margin-top: 5%;
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 5%;
    box-shadow: 5px 5px 10px;
  }
  .imgDetail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    border: 4px solid black;
    border-radius: 15%;
    margin-top: 2%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
    box-shadow: 5px 5px 20px black;
  }
  /* .imgDetail:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  } */
  .marvel {
    margin-bottom: 100%;
  }
}
