h1 {
  font-size: 90px;
  font-family: 'Gugi', cursive;
  text-align: center;
}
.navInfo {
  font-size: 16px;
  font-family: 'Gugi', cursive;
  text-align: right;
  letter-spacing: 1px;
}
.navbar-brand{
  font-family: 'Gugi', cursive;
  font-size: 20px;
  letter-spacing: 1px;
}
