.foundComicsMap{
   margin: auto !important;
   width: 100% !important;
}
.comicImageBorder{
   border: 1px solid black;
}
@media (max-width: 418px){
   .comicsDetail{
      font-size: 12px;
      font-family: 'Noto Sans', sans-serif;
      padding-top: 4%;
   }
}
@media (min-width: 420px){
   .comicsDetail{
      font-size: 16px;
      font-family: 'Noto Sans', sans-serif;
      padding-top: 2%;
   }

   .comicImageBorder:hover {
      transform: scale(2.0);
      z-index: 9999;
      position: relative;
   }

}
